/* base styles - override these in your theme stylesheet */

.rapidFireWrapper .button {
    float: left;
    width: auto;
    padding: 5px 15px;
    color:#ffffff !important;
    background-color:darkcyan;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.rapidFireWrapper .button:hover {
    background-color:darkslategray !important;
}

.rapidFireWrapper .button.backToQuestion {
    background: #ccc;
}

.rapidFireWrapper .button.tryAgain {
    float: none;
}

.rapidFireWrapper .buttonWrapper .button {
    margin-top: 20px;
}

.rapidFireWrapper .buttonWrapper .button.disabled {
    margin-top: 20px;
    cursor: default;
    background-color: #888;
    opacity: 0.5;
}

.rapidFireWrapper .nameLabel, .rapidFireWrapper .emailLabel {
    margin-top: 20px;
}

.rapidFireWrapper input,
.rapidFireWrapper input + label {
    cursor: pointer;
}

.rapidFireWrapper input:disabled,
.rapidFireWrapper input:disabled + label {
    opacity: .8;
    cursor: not-allowed;
}

.rapidFireWrapper .quizArea, .rapidFireWrapper .quizResults {
    margin-bottom: 40px;
}

/* clearfix */
.rapidFireWrapper .quizArea, .rapidFireWrapper .quizResults {
    zoom: 1;
}
.rapidFireWrapper .quizArea:before, .rapidFireWrapper .quizArea:after,
.rapidFireWrapper .quizResults:before, .rapidFireWrapper .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.rapidFireWrapper .quizArea:after, .rapidFireWrapper .quizResults:after {
    clear: both;
}

.rapidFireWrapper .questionCount {
    font-size: .9em;
    font-style: italic;
}
.rapidFireWrapper .questionCount span {
    font-weight: bold;
}

.rapidFireWrapper .question > h3 p {
    display: inline-block;
    margin: 0;
}

.rapidFireWrapper ul.responses,
.rapidFireWrapper ol.questions,
.rapidFireWrapper ol.questions li {
    margin-left: 0;
    padding-left: 0;
}

.rapidFireWrapper ul.answers {
    margin-bottom: 20px;
}

.rapidFireWrapper ul.responses li {
    margin: 10px 20px 20px;
}
.rapidFireWrapper ul.responses li p span {
    display: block;
    font-weight: bold;
}

.rapidFireWrapper ul.answers li.correct,
.rapidFireWrapper ul.responses li.correct p span {
    color: #6C9F2E;
}
.rapidFireWrapper ul.responses li.incorrect p span {
    color: #B5121B;
}

.rapidFireWrapper .quizResultsCopy h3 {
    margin: 0;
}
.rapidFireWrapper .quizResultsCopy h3 span {
    font-weight: normal;
    font-style: italic;
}
.rapidFireWrapper .quizResultsCopy {
    margin-top: 20px;
}


/* Share Buttons */

.rapidFireWrapper .quizShare {
    margin: 1em 0;
}

.rapidFireWrapper .quizShare a {
    display: inline-block;
    background: #efefef;
    color: #5993A8;
    margin-right: 10px;
    padding: 8px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition-duration: 0;
}

.rapidFireWrapper .quizShare a:hover {
    background: #e1e1e1;
    border: none;
    color: #4a4a4a;
    text-decoration: none;
}

.rapidFireWrapper .quizShare a:hover i {
    background-position: left -34px;
}

.rapidFireWrapper .quizShare i,
.rapidFireWrapper .quizShare span {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
}

.rapidFireWrapper .quizShare i {
    width: 24px;
    margin: 0 3px 0 0;
}

.rapidFireWrapper .quizShare .facebook {
    margin-right: 0;
}
